.intro
{
    text-align: center;
}
.intro-text
{
    text-align: center;
    padding-top: 5%;
}
#certificate-heading
{
    text-align: center;
}
#certificate-text
{
    text-align: center;
}
#music
{
    padding-left: 3%;
}
#projects
{
    padding-left: 3%;
}