body
{
  display: inline-block;
}
.intro
  {
    display: inline-block;
    font-size: large;
    font-family: Arial;
    padding-bottom: 10px;
  }
:root
{
  background-image: linear-gradient(135deg, rgb(0, 196, 0), rgb(39, 179, 226) 80%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.youtube 
  {
    background-color: rgb(255, 0, 0);
    color: white;
    font-family: Arial;
    font-size: large;
    font-weight: bold;
    height: 45px;
    width: 100px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .youtube:hover
  {
    background-color: rgb(216, 0, 47);
  }
  .embed
  {
    position: absolute;
    right: 200px;
    top: 100px;
  }
.discord
  {
    background-color: rgb(140, 0, 140);
    color: white;
    font-family: Arial;
    font-size: large;
    font-weight: bold;
    height: 45px;
    width: 100px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .discord:hover 
  {
    background-color: rgb(110, 0, 110);
  }
.twitter
  {
    background-color: rgb(0, 100, 255);
    color: white;
    font-family: Arial;
    font-size: large;
    font-weight: bold;
    height: 45px;
    width: 100px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .twitter:hover 
  {
    background-color: rgb(0, 79, 197);
  }
.instagram 
  {
    background-color: rgb(165, 0, 41);
    color: white;
    font-family: Arial;
    font-size: large;
    font-weight: bold;
    height: 45px;
    width: 100px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .instagram:hover 
  {
    background-color: rgb(129, 0, 32);
  }
.spotify
  {
    background-color: rgb(53, 182, 92);
    color: white;
    font-family: Arial;
    font-size: large;
    font-weight: bold;
    height: 45px;
    width: 100px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .spotify:hover 
  {
    background-color: rgb(40, 158, 75);
  }